.profile-container {
  width: 100vw;
  height: 120vh;
  background-color: #023047;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}

.profile-img {
  width: 85px;
  height: 57px;
  position: relative;
  right: 545px;
  top: 52px;
  object-fit: scale-down;
}

.profile-button-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 28%;
}

.preview-download {
  width: 38.1%;
  height: 523px;
  margin-top: 160px;
}

@media screen and (max-width: 425px) {
  .profile-container {
    height: 100vh;
  }

  .profile-button-wrap {
    width: 95%;
  }

  .preview-download {
    width: 95%;
    height: 500px;
    margin-top: 70px;
  }
}
