* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.logo {
  position: absolute;
  align-self: flex-start;
  left: 53px;
  top: 48px;
}

@media screen and (max-width: 425px) {
  .logo {
    position: absolute;
    align-self: flex-start;
    left: 23px;
    top: 30px;
  }
}
